/* Ensure the custom date placeholder shows the error color when needed */
.date-error-placeholder {
  color: #FF4D017D !important;
}

.input-error.candidate-search-input::placeholder {
  color: #FF4D017D !important;
}

.candidate-search-input::placeholder {
  color: #BCC7D2;
}

.session-topic-textarea.textarea-error::placeholder {
  color: #FF4D017D;
  opacity: 1;
}

/* Style for the datetime-local input placeholder text */
.date-error {
  color: #FF4D017D;
}

.date-error::-webkit-calendar-picker-indicator {
  filter: invert(55%) sepia(98%) saturate(3419%) hue-rotate(349deg) brightness(100%) contrast(101%) opacity(50%);
  cursor: pointer;
}

/* Custom scrollbar for candidate dropdown */
.candidate-dropdown-scrollbar::-webkit-scrollbar-track {
  background: #BCC7D2; /* Match dropdown background */
}

/* Custom style for DateTimePicker border-radius */
.session-datetime-picker .MuiOutlinedInput-root {
  border-radius: 0.75rem; /* rounded-xl */
}


/* Default placeholder color for the session topic textarea */
.session-topic-textarea::placeholder {
  color: #bcc7d2;
  opacity: 1;
}

/* Custom style for DateTimePicker border-radius */
.session-datetime-picker .MuiOutlinedInput-root {
  border-radius: 0.75rem; /* rounded-xl */
}


/* Default placeholder color for the session topic textarea */
.session-topic-textarea::placeholder {
  color: #bcc7d2;
  opacity: 1;
}