#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.custom-tooltip-container {
    position: relative;
    display: inline-block;
}

.custom-tooltip-container-demo {
    position: relative;
    float: inline-end;
    display: inline-block;
}

.custom-tooltip {
    position: absolute;
    z-index: 1;
    font-size: 12px;
    font-family: "Gotham-Book";
    background-color: var(--ptin-color-midnight-blue);
    color: var(--ptin-color-white);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 600px;
    left: -501px;
    top: 11px;
    right: 30px;
    overflow: hidden;
    float: left;
    transform: translateY(-46%)
}
.custom-tooltip-two {
    position: absolute;
    z-index: 1;
    font-family: "Gotham-Book";
    background-color: var(--ptin-color-midnight-blue);
    color: var(--ptin-color-white);
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    max-width: 200px;
    left: 100%;
    top: 50%;
    margin-left: 10px; /* space between icon and tooltip */
    transform: translateY(-50%);
}
/* .custom-tooltip-two {
    position: absolute;
    z-index: 1;
    font-family: "Gotham-Book";
    background-color: var(--ptin-color-midnight-blue);
    color: var(--ptin-color-white);
    font-size: 12px;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    max-width: 200px;
    left: 22px;
    top: 50%;
    transform: translateY(-50%);

} */

.custom-tooltip-three {
    position: absolute;
    z-index: 1;
    font-family: "Gotham-Book";
    background-color: var(--ptin-color-midnight-blue);
    color: var(--ptin-color-white);
    font-size: 12px;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    max-width: 200px;
    left: -11px;
    top: -16px;
    transform: translateY(-50%);

}

.sync-icon {
    color: var(--ptin-color-blueice);
    font-size: 20px;
    cursor: pointer;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
